.home-section {
    position: relative;
    height: 100vh;
    background-color: #007172;
    padding: 50px 30px;
    background-image:url("../../../public/kombuchahero.png");
    background-size: cover;
    background-position: center;
    
   
  }

  @import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

  .home-text-box-left {
    position: relative;
    width: 45%;
    /*background-color: rgba(255, 255, 255, 0.8);  Semi-transparent background */
    padding: 20px;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    margin-top: 70px;
    margin-left: 20px;
    z-index: 2;
}

  .home-header {
    
    font-family: 'Bitter', serif;
    font-size: 7.5em;
    font-weight: bold;
    font-style: italic;
    color: white;
    z-index: 2;
    margin-left: 20px;
    
    
    }

.home-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: white;
    text-align: bottom;
    font-weight: thin;
    margin-bottom: 20px;
    margin-left: 20px;
    z-index: 2;
    }

.foreground-image {
    
    position: relative;
    top:-100px;
    z-index: 1;
        
}

/* Style for the subscribe button */
/* Container for the subscribe button */
.subscribe-container {
    position: relative;
    margin-top: 70px; /* Space between text and button */
    margin-left: 90px;
    z-index: 2; /* Ensure it appears above the image */
    height: 500px;
    width: 50%;
    
}

#arrow{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -320px;
    z-index: 2;
    height: 10%;
    animation: bounce 2s infinite;
 }

 /*div{
    height: 300px;
 
 }*/
 
 @keyframes bounce {
    50%{
       height: 138px;
       width: 91px;
    }
    50%{
       height: 138px;
       width: 91px;
       transform: translateY(150px);
    }
 }




  