.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
}

.box {
    background-color: white;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Bitter', serif;
    font-size: 5em;
    color: orange;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
}

